lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node js
node_modules
npm-debug.log
.npmrc

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# development
tmp
dist
.env
!/tests/integration/env-load/.env
.eslintcache
yarn.lock
default.etcd

.serverlessrc
.serverless

state.json
tracking-config.json
*.sample
/coverage
