lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node js
node_modules
npm-debug.log

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# docker
docker-compose.yml
Dockerfile

# eslint
.eslintcache
.eslintignore
.eslintrc.js

# prettier
.prettierignore
prettier.config.js

# development
.appveyor.yml
.codecov.yml
.editorconfig
.github
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DEVELOPMENT.md
__tests__
coverage
docs
examples
tests
