lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node js
node_modules
npm-debug.log

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

#mac
.DS_Store

# eslint
.eslintcache

#development
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DEVELOPMENT.md
docker-compose.yml
Dockerfile
__tests__
docs
examples
prettier.config.js
tests
