language: node_js
sudo: false
node_js:
- 8
install:
- npm install
script:
- npm run lint
- npm test
env:
  SENTRY_DSN: https://17031d90871a4daebd4f261f2359b38f:9ce69587851c448b96893fb3794df20e@sentry.io/300239
  SEGMENT_WRITE_KEY: jvOP27GTlIJubkJpRcDAa4uSfwCD03NI
deploy:
  provider: npm
  email: services@serverless.com
  skip_cleanup: true
  on:
    branch: master
    tags: true
    repo: serverless/serverless-components
  api_key:
    secure: TPRxYZ4uSOBZYlHxwfVc+NzKaPLKI5iz9dD7rYnm4BgXjdbB+hQAyMDj2CHNVB3bLa6FyXkgeuOQOBZDAheQxst6QcrKwonKb4xsBhye4d24MNu+/BOz7u6pzcWsUgD7gQOiXgRs1t8K+bcYV4kVjgw++g1umz9LujZKsMIVmtfCjkP/S7kF+0M1OomKSaonCmFAloxwH58XQpJpKiMA7cuuumJJ9J3l58XBDJFrHjLR/0Q0wm29BFUXjTeo3QnPPmCv7YE/VWo+oKldXJTFgoBWLRYEEGgPwwnzsyfuBQwkl56kqtZP5BLbmuDmWFSlslFOJQeJ0CxiVWmJX0XdMKZnO0FebmRYb0DTYgm0yRZTKUVkxFlS9w38K2wVlmz5MIUKxjYfnxU7+irWODg2oAZEXYo2DTRb3up6ddiq5fqquefKMAR1qSC/YDt7J80S3YnoBuZ6/vM5XdmCt4XribZZ/gJVBRosVmdL3qkxOP0drUPM0GIyl0l6h/XzvfwTWhH7Ho0MzxBacbVzUtmcQs8BTzDrU00lRaxJ7h7FANUieVwCtwBqDWTSuVqfltORswpN1QDb24GyxjoFuGzieF1aj/GVtG3O1ySJCR7CdiATzdfmjSmRRw53HWo2h/6CEldnloDfa2bIGT1DTuIMrjNXMsgs77Tbfakh+Uat8zU=
