<html>
  <head>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <style>
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      html, body {
        font-family: Helvetica, Arial, sans-serif;
        background: #f3f3f3;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
      }
      .page-wrapper {
        padding: 30px 45px;
        padding-top: 10px;
      }
      .page-title {
        margin-bottom: 30px;
        color: #444546;
      }
      #products {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      .product {
        width: 30%;
        margin-right: 30px;
        padding: 40px 35px;
        background-color: #fdfefe;
        margin-bottom: 50px;
        margin-top: 0px;
        box-shadow: 8px 12px 30px #b3b3b3;
        color: #919495;
      }

      .product h2 {
        padding-top: 0px;
        margin-top: 0px;
        color: #666869;
      }

      .product-price {
        color: #666869;
        font-weight: 500;
        margin-top: 20px;
        display: block;
      }

      /* LOADER */
      .loader-wrapper {
        display: block;
        padding: 20px 0;
        margin: 1% 0 1% 1.6%;
      }
      #loader {
        top: 40px;
        left: -2.5px;
      }
      #loader span{
        display: inline-block;
        width: 5px;
        height: 20px;
        background-color: #3498db;
      }
      #loader span:nth-child(1){
        animation: grow 1s ease-in-out infinite;
      }
      #loader span:nth-child(2){
        animation: grow 1s ease-in-out 0.15s infinite;
      }
      #loader span:nth-child(3){
        animation: grow 1s ease-in-out 0.30s infinite;
      }
      #loader span:nth-child(4){
        animation: grow 1s ease-in-out 0.45s infinite;
      }
      @keyframes grow{
        0%, 100%{
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -o-transform: scaleY(1);
          transform: scaleY(1);
        }

        50%{
          -webkit-transform: scaleY(1.8);
          -ms-transform: scaleY(1.8);
          -o-transform: scaleY(1.8);
          transform: scaleY(1.8);
        }
      }
      @media (max-width: 990px) {
        .product {
          width: 45%;
          margin-right: 30px;
        }
      }
      @media (max-width: 768px) {
        .page-wrapper {
          padding: 30px 25px;
          padding-top: 10px;
        }
        .product {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    </style>
  </head>
  <body>
    <div class='page-wrapper'>
      <h1 class='page-title'>Products</h1>
      <div id="products">
        <div class='loader-wrapper'>
          <div class="loader" id="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var productList = $('#products')
      $.get("{{{apiUrl}}}catalog/all", function(products) {
        productList.empty()
        $(document).ready(function() {
          for(var i in products) {
            var product = products[i]
            var productTitle = "<div class='product-title'><h2>" + product.name + "</h2></div>"
            var productDescription = "<div class='product-desc'><p>" + product.description + "</p></div>"
            var productPrice = "<div class='product-price'>" + product.price + "</div>"
            productList.append("<div class='product' id='product-id-"+product.id+"'>" + productTitle + productDescription + productPrice + "</div>")
          }
        });
     });
    </script>
  </body>
</html>
